
{% extends "core/base.html"%}

{% block title%} Directorio{% endblock %}

{% block content %}
<p>
    <h2 align="center"><strong>Directorio del Instituto Tecnologico de Tijuana</strong></h2>

<table style="width:100%">
  
<tr>
    <th>Departamento</th>
    <th>Nombre</th> 
    <th>Numero y Extencion</th>
  </tr>
<br><br>

<HR>

  <tr>
    <td>Director</td>
    <td> M.C. Jose Guerrero Guerrero</td>
    <td>Tel. 6078405 ext.101</td>

  </tr>

  <tr>

    <td>Sub-Direccion Academica</td>
    <td>M.C. Juliana Cervantes Castro</td>
    <td>Tel. 6078404</td>


  <tr>
    <td>Servicios Administrativos</td>
    <td>Ing. Cipriano Ponce Oliva</td>
    <td>Tel. 6078407 ext.105</td>
  </tr>
   <tr>
    <td>Actividad extraescolares</td>
    <td> Lic. Vilma Lopez Carlos</td>
    <td>Tel. 6078404</td>
  </tr>
   <tr>
    <td>Jefa de Comunicacion y Difusion</td>
    <td> M.A. Ana Escobedo Aparicio</td>
    <td>Tel. 6078400 ext.260</td>
  </tr>
   <tr>
    <td>Jefe de Vinculacion</td>
    <td> MTRO. Artemio Lara Chavez</td>
    <td>Tel. 6078423 ext.124</td>
  </tr>
   <tr>
    <td>Jefe de Recursos Humanos</td>
    <td> M.i.i Anel Torres Lopez</td>
    <td>Tel. 6078400 ext.113</td>
  </tr>
   <tr>
    <td>Jefe de Servicios Escolares</td>
    <td>Lic. Doroteo Luna Castaneda</td>
    <td>Tel. 6078410 ext.127 </td>
  </tr>
   <tr>
    <td>Jefe de Desarrollo Academico</td>
    <td> MTRA. Beatriz Chavez Ceja </td>
    <td>Tel. 6078416 ext.121 </td>
  </tr>
   <tr>
    <td>Coordinacion de Orientacion Educativa</td>
    <td>PSIC. Cecilia Andrade Ochoa</td>
    <td>Tel. 6078400 ext.266</td>
  </tr>
   <tr>
    <td>Jefe de Division de Estudios Profecionales</td>
    <td>Lic. Marco Antonio Rodriguez Moreno</td>
    <td>Tel. 6078405 ext.130</td>
  </tr>
   <tr>
    <td>Jefa de Depto de ingenieria en sistemas computacionales</td>
    <td> M.A. Gabriela Lourdes Tapia Gonzalez</td>
    <td>Tel. 6078416 ext.121</td>
  </tr>

<p>
<br />
</p>
</table>
</p>

{% endblock %}



